<ion-header>
  <ion-toolbar>
    <ion-title>
      Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides autoplay="5000" loop="true" speed="3000">
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  โทรศัพท์
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  ทีวี
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  ตู้เย็น
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  เครื่องซักผ้า
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  รองเท้า
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  เสื้อผ้า
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
    <ion-slide>
      <ion-grid>
        <ion-row>
          <ion-col size="12" size-md>
            <ion-card>
              <ion-card-header>
                <ion-card-title>
                  กางเกง
                </ion-card-title>
                <ion-card-content>
                  <img src="https://via.placeholder.com/300x300">
                  <ion-button expand="full">Add to Cart</ion-button>
                </ion-card-content>
              </ion-card-header>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>