.backbutton {
  margin-top: 5%;
}

.title-1 {
  font: 2em sans-serif;
  color: orangered;
}

.inputlog {
  padding-top: 10%;
}

.login {
  padding-top: 20%;
}

.register {
  text-align: center;
}

.iconsize {
  text-align: center;
  .iconline {
    padding-left: 20%;
  }
  .iconfacebook {
    padding-right: 20%;
  }
}
